### Esercizio
Intenzionalmente imposta alcuni valori `NaN` nella colonna "Genres" e prova a:
- Filtrare i film che **non** hanno valori mancanti
- Riempire i `NaN` con "Unknown"

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Aggiungi una colonna `Note` vuota e riempila con "OK" dove `Rating >= 4`, altrimenti "Review".

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Rimuovi i voti duplicati (stesse colonne uguali).

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Crea una colonna `"Livello"` mappando il `Rating`:
- 1–2 → "Basso"
- 3 → "Medio"
- 4–5 → "Alto"

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Sostituisci tutti i valori "Comedy" nella colonna `Genres` con "Humor".

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Rinomina le colonne `UserID`, `MovieID`, `Rating` in maiuscolo.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Usa `cut()` per creare una colonna `fascia_rating`:
- [0, 2.5] → "basso"
- (2.5, 3.5] → "medio"
- (3.5, 5] → "alto"

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Trova tutti i rating che sono outlier (fuori da 1–5), se esistono.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Estrai un campione casuale del 5% dal DataFrame dei rating.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Usa `get_dummies()` per trasformare `Gender` o `Occupation` in colonne dummy.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Esegui una permutazione casuale dell’ordine delle righe nel DataFrame `ratings`.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Conta quanti utenti hanno dato più voti al genere "Action" rispetto a "Romance". (Suggerimento: esplodi i generi, crea colonne dummy, poi aggrega per utente).

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Aggiungi una colonna "ClasseVoto" con:
- `cut()` per dividere i Rating in 4 quartili
- Nomina i bin "Scarso", "Discreto", "Buono", "Eccellente"

Poi conta quanti film hanno ricevuto almeno un voto "Scarso".

In [ ]:
# Scrivi qui il tuo codice

### Esercizio

Converti la colonna "Occupation" in tipo categorico
- Stampa la lista delle categorie disponibili
- Calcola la memoria usata prima e dopo la conversione

In [ ]:
# Scrivi qui il tuo codice