### Esercizio
Carica `movies.dat` in un DataFrame con separatore `::` e colonne: MovieID, Title, Genres.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Carica `ratings.dat` in un DataFrame con colonne: UserID, MovieID, Rating, Timestamp.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Quanti film unici ci sono nel dataset?

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Quanti voti sono pari a 5? Quanti sono inferiori a 3?

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Mostra le prime 10 righe dove il Rating è uguale a 1.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Quanti film hanno più di un genere?

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Estrai l’anno dal titolo del film in una nuova colonna.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Crea una colonna “Titolo_solo” rimuovendo l’anno dal titolo.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Aggiungi una colonna “Titolo_maiuscolo” con tutti i titoli in maiuscolo.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
**Extra**: Scrivi una funzione `estrai_anno(titolo)` che gestisce tutte le situazioni possibili, ad esempio se l'anno non esiste. Applica con `map()` sulla colonna dei titoli e crea una colonna di tipo `int64`.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Crea una colonna `Rating_x2` che raddoppia ogni voto.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Usa `apply()` per creare una colonna “Etichetta”:
- “basso” se Rating ≤ 2
- “medio” se Rating == 3
- “alto” se Rating ≥ 4

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Usa `.describe()` per riassumere i valori di Rating.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Quanti rating ha ciascun valore possibile (1–5)?

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Ordina il DataFrame dei rating dal voto più alto a quello più basso.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Qual è l’intervallo (max - min) dei MovieID?

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Filtra i film il cui titolo inizia con `Star`.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Crea una colonna `n_generi` che conta quanti generi ha ogni film.

In [ ]:
# Scrivi qui il tuo codice

### Esercizio
Seleziona solo i film che hanno tra 2 e 3 generi.

In [ ]:
# Scrivi qui il tuo codice